@page "/news"
@using News.Nft.Admin.Services

<PageTitle>News</PageTitle>

<h1 class="text-white">News</h1>


<div class="text-sm font-medium text-center  border-b  text-gray-400 border-gray-700">
    <ul class="flex flex-wrap -mb-px">
        <li class="mr-2">
            <span class="inline-block p-4 border-b-2 border-transparent rounded-t-lg  active text-blue-500 border-blue-500" aria-current="page">Curated</span>
        </li>
        <li class="mr-2">
            <span class="inline-block p-4  border-b-2 text-white rounded-t-lg  hover:border-gray-300 hover:text-gray-300 ">All</span>
        </li>
    </ul>
</div>


<div class="relative overflow-x-auto max-w-[2000px]">
    <table class="w-full text-sm text-left text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 bg-gray-700 text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3 max-w-[200px]">
                    Title
                </th>
                <th scope="col" class="px-6 py-3">
                    Source
                </th>
                <th scope="col" class="px-6 py-3">
                    Date
                </th>
                <th scope="col" class="px-6 py-3">
                    URL
                </th>
            </tr>
        </thead>
        <tbody>
        @foreach (var article in Articles)
        {
            <tr class="border-b bg-gray-800 dark:border-gray-700 ">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white truncate max-w-[800px]">
                   @article.title
                </th>
                <td class="px-6 py-4 truncate max-w-[500px]">
                    @article.source.name
                </td>
                <td class="px-6 py-4">
                    @article.publishedAt.ToString("d")
                </td>
                <td class="px-6 py-4 truncate max-w-[500px]">
                        <a href="@article.url" class=" hover:text-white hover:underline">
                            @article.url
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@code {
    protected List<NftNewsService.Article> Articles { get; set; } = new List<NftNewsService.Article>();

    protected override async Task OnInitializedAsync()
    {
        var key = "f944a4150fc94e5590fd102ac88a99f4";
        var country = "us";
        var topic = "world";
        Articles = await NftNewsService.GetLast24HourArticles();
    }
}
